<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َPNTEHAN-login</title>
    <link rel="stylesheet" href="{{ buildStaticUrl('/css/style.css') }}">
  </head>
  <body>
    <form class="box" action="/user/login" method="post">
      <h1>Login</h1>
      <input type="text" name="login_name" placeholder="Username">
      <input type="password" name="login_pwd" placeholder="Password">
      <input type="submit" name="" value="Login">
    </form>
  </body>
</html>
